@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* basic */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.5;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #171616;
	color: #e3e3e6;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

/* navbar */

header {
	background-color: transparent;
	color: inherit;
	text-align: center;
}

.navbar {
	padding: 16px 0px;
	display: flex;
	align-items: center;
	max-width: 1200px;
	justify-content: space-between;
	margin: auto;
	border-bottom: 2px solid #fff;
}

.nav_list {
	display: flex;
	gap: 30px;
	list-style: none;
}

/* burger-menu */
.burger-menu .burger-icon {
	display: none; /* Скрыть иконку бургер-меню по умолчанию */
	cursor: pointer;
}

.burger-menu .burger-icon {
	cursor: pointer;
	font-size: 30px;
}

/* logo and links */

.logo {
	font-weight: 600;
	color: #fff;
}
.image_logo {
	width: 26px;
	height: 26px;
}
.logo_link {
	text-decoration: none;
	color: inherit;
	font-size: 26px;
}

.nav_list {
	display: none;
	font-weight: 600;
}
.item_link {
	text-decoration: none;
	color: inherit;
	transition: background-color 0.5s ease-out, color 0.5s ease-out;
	padding: 5px 10px;
	border-radius: 15px;
}

.item_link:hover {
	background-color: #e3e3e6;
	color: #171616;
}

@media (max-width: 640px) {
	.burger-menu .burger-icon {
		display: block;
	}

	.nav_list {
		display: none;
		position: absolute;
		background-color: #171616;
		width: 100%;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		overflow: hidden;
		left: 0;
		top: 79px;
	}

	.item_link {
		display: block;
	}
}

@media (min-width: 641px) {
	.nav_list {
		display: flex;
	}

	.item_link {
		padding: 10px 15px;
	}
}

/* activeLink component */

.active {
	color: #171616;
	background-color: #e3e3e6;
}

/* main */

.posts_title {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1%;
}

.col {
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	align-items: center;
}

@media (min-width: 640px) {
	.col {
		flex: 0 0 24%;
		max-width: 25%;
	}
}

.card {
	color: #171616;
	font-weight: 600;
	display: flex;
	background-color: #e3e3e6;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	overflow: hidden;
	text-align: center;
}

.title-body {
	flex: 1 1 auto;
	padding: 12px 24px;
}

.title_link {
	text-decoration: none;
	color: inherit;
	transition: text-decoration 0.5s ease-out, color 0.5s ease-out;
	padding: 5px 10px;
}
.title_link:hover {
	color: #686363;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}
